
.booth {
    width: 400px;
    /* background: #ccc;
    border: 10px solid #ddd; */
    margin: 4 auto;
} 

.canvas {
    overflow: auto;
}
.capture:focus + .button{
    display:none;
}
/* #btn-download{
    display: none;
}
#capture:target {
    display: block;
  } */